<head>
	<title>Account Registration - Saku</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	
	<!--
																							   
																							   
	   SSSSSSSSSSSSSSS              AAA               KKKKKKKKK    KKKKKKKUUUUUUUU     UUUUUUUU
	 SS:::::::::::::::S            A:::A              K:::::::K    K:::::KU::::::U     U::::::U
	S:::::SSSSSS::::::S           A:::::A             K:::::::K    K:::::KU::::::U     U::::::U
	S:::::S     SSSSSSS          A:::::::A            K:::::::K   K::::::KUU:::::U     U:::::UU
	S:::::S                     A:::::::::A           KK::::::K  K:::::KKK U:::::U     U:::::U 
	S:::::S                    A:::::A:::::A            K:::::K K:::::K    U:::::D     D:::::U 
	 S::::SSSS                A:::::A A:::::A           K::::::K:::::K     U:::::D     D:::::U 
	  SS::::::SSSSS          A:::::A   A:::::A          K:::::::::::K      U:::::D     D:::::U 
		SSS::::::::SS       A:::::A     A:::::A         K:::::::::::K      U:::::D     D:::::U 
		   SSSSSS::::S     A:::::AAAAAAAAA:::::A        K::::::K:::::K     U:::::D     D:::::U 
				S:::::S   A:::::::::::::::::::::A       K:::::K K:::::K    U:::::D     D:::::U 
				S:::::S  A:::::AAAAAAAAAAAAA:::::A    KK::::::K  K:::::KKK U::::::U   U::::::U 
	SSSSSSS     S:::::S A:::::A             A:::::A   K:::::::K   K::::::K U:::::::UUU:::::::U 
	S::::::SSSSSS:::::SA:::::A               A:::::A  K:::::::K    K:::::K  UU:::::::::::::UU  
	S:::::::::::::::SSA:::::A                 A:::::A K:::::::K    K:::::K    UU:::::::::UU    
	 SSSSSSSSSSSSSSS AAAAAAA                   AAAAAAAKKKKKKKKK    KKKKKKK      UUUUUUUUU      

	 
    Saku provides a better solution. We enable you to send and receive
	money instantly, wherever they are in the world.
    
    https://www.saku.co

	-->
  
</head>
<body style="min-width:100%;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;box-sizing:border-box;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;width:100% !important">
<div class="preheader" style="visibility:hidden;opacity:0;color:transparent;height:0;width:0;font-size:0px;mso-hide:all;display:none !important"></div>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
	<link rel="stylesheet" href="https://glcdn.githack.com/sakuapp/email-template/raw/master/css/font-style.css" style data-roadie-ignore="" data-immutable="true" type="text/css">
    
    <style data-roadie-ignore="" data-immutable="true">
      @media only screen and (max-width: 596px) {
        .small-float-center {
          margin: 0 auto !important;
          float: none !important;
          text-align: center !important; }
        .small-text-center {
          text-align: center !important; }
        .small-text-left {
          text-align: left !important; }
        .small-text-right {
          text-align: right !important; } }

        @media only screen and (max-width: 596px) {
          table.body table.container .hide-for-large {
            display: block !important;
            width: auto !important;
            overflow: visible !important;
            max-height: none !important; } }

      @media only screen and (max-width: 596px) {
        table.body table.container .row.hide-for-large,
        table.body table.container .row.hide-for-large {
          display: table !important;
          width: 100% !important; } }

      @media only screen and (max-width: 596px) {
        table.body table.container .show-for-large {
          display: none !important;
          width: 0;
          mso-hide: all;
          overflow: hidden; } }

      @media only screen and (max-width: 596px) {
        table.body img {
          width: auto !important;
          height: auto !important; }
        table.body center {
          min-width: 0 !important; }
        table.body .container {
          width: 95% !important; }
        table.body .columns,
        table.body .column {
          height: auto !important;
          -moz-box-sizing: border-box;
          -webkit-box-sizing: border-box;
          box-sizing: border-box;
          padding-left: 16px !important;
          padding-right: 16px !important; }
          table.body .columns .column,
          table.body .columns .columns,
          table.body .column .column,
          table.body .column .columns {
            padding-left: 0 !important;
            padding-right: 0 !important; }
          table.body .columns .column.nested,
          table.body .columns .columns.nested,
          table.body .column .column.nested,
          table.body .column .columns.nested {
            padding-left: 16px !important;
            padding-right: 16px !important; }
        table.body .collapse .columns,
        table.body .collapse .column {
          padding-left: 0 !important;
          padding-right: 0 !important; }
        td.small-1,
        th.small-1 {
          display: inline-block !important;
          width: 8.33333% !important; }
        td.small-2,
        th.small-2 {
          display: inline-block !important;
          width: 16.66667% !important; }
        td.small-3,
        th.small-3 {
          display: inline-block !important;
          width: 25% !important; }
        td.small-4,
        th.small-4 {
          display: inline-block !important;
          width: 33.33333% !important; }
        td.small-5,
        th.small-5 {
          display: inline-block !important;
          width: 41.66667% !important; }
        td.small-6,
        th.small-6 {
          display: inline-block !important;
          width: 50% !important; }
        td.small-7,
        th.small-7 {
          display: inline-block !important;
          width: 58.33333% !important; }
        td.small-8,
        th.small-8 {
          display: inline-block !important;
          width: 66.66667% !important; }
        td.small-9,
        th.small-9 {
          display: inline-block !important;
          width: 75% !important; }
        td.small-10,
        th.small-10 {
          display: inline-block !important;
          width: 83.33333% !important; }
        td.small-11,
        th.small-11 {
          display: inline-block !important;
          width: 91.66667% !important; }
        td.small-12,
        th.small-12 {
          display: inline-block !important;
          width: 100% !important; }
        .columns td.small-12,
        .column td.small-12,
        .columns th.small-12,
        .column th.small-12 {
          display: block !important;
          width: 100% !important; }
        .body .columns td.small-1,
        .body .column td.small-1,
        td.small-1 center,
        .body .columns th.small-1,
        .body .column th.small-1,
        th.small-1 center {
          display: inline-block !important;
          width: 8.33333% !important; }
        .body .columns td.small-2,
        .body .column td.small-2,
        td.small-2 center,
        .body .columns th.small-2,
        .body .column th.small-2,
        th.small-2 center {
          display: inline-block !important;
          width: 16.66667% !important; }
        .body .columns td.small-3,
        .body .column td.small-3,
        td.small-3 center,
        .body .columns th.small-3,
        .body .column th.small-3,
        th.small-3 center {
          display: inline-block !important;
          width: 25% !important; }
        .body .columns td.small-4,
        .body .column td.small-4,
        td.small-4 center,
        .body .columns th.small-4,
        .body .column th.small-4,
        th.small-4 center {
          display: inline-block !important;
          width: 33.33333% !important; }
        .body .columns td.small-5,
        .body .column td.small-5,
        td.small-5 center,
        .body .columns th.small-5,
        .body .column th.small-5,
        th.small-5 center {
          display: inline-block !important;
          width: 41.66667% !important; }
        .body .columns td.small-6,
        .body .column td.small-6,
        td.small-6 center,
        .body .columns th.small-6,
        .body .column th.small-6,
        th.small-6 center {
          display: inline-block !important;
          width: 50% !important; }
        .body .columns td.small-7,
        .body .column td.small-7,
        td.small-7 center,
        .body .columns th.small-7,
        .body .column th.small-7,
        th.small-7 center {
          display: inline-block !important;
          width: 58.33333% !important; }
        .body .columns td.small-8,
        .body .column td.small-8,
        td.small-8 center,
        .body .columns th.small-8,
        .body .column th.small-8,
        th.small-8 center {
          display: inline-block !important;
          width: 66.66667% !important; }
        .body .columns td.small-9,
        .body .column td.small-9,
        td.small-9 center,
        .body .columns th.small-9,
        .body .column th.small-9,
        th.small-9 center {
          display: inline-block !important;
          width: 75% !important; }
        .body .columns td.small-10,
        .body .column td.small-10,
        td.small-10 center,
        .body .columns th.small-10,
        .body .column th.small-10,
        th.small-10 center {
          display: inline-block !important;
          width: 83.33333% !important; }
        .body .columns td.small-11,
        .body .column td.small-11,
        td.small-11 center,
        .body .columns th.small-11,
        .body .column th.small-11,
        th.small-11 center {
          display: inline-block !important;
          width: 91.66667% !important; }
        table.body td.small-offset-1,
        table.body th.small-offset-1 {
          margin-left: 8.33333% !important;
          Margin-left: 8.33333% !important; }
        table.body td.small-offset-2,
        table.body th.small-offset-2 {
          margin-left: 16.66667% !important;
          Margin-left: 16.66667% !important; }
        table.body td.small-offset-3,
        table.body th.small-offset-3 {
          margin-left: 25% !important;
          Margin-left: 25% !important; }
        table.body td.small-offset-4,
        table.body th.small-offset-4 {
          margin-left: 33.33333% !important;
          Margin-left: 33.33333% !important; }
        table.body td.small-offset-5,
        table.body th.small-offset-5 {
          margin-left: 41.66667% !important;
          Margin-left: 41.66667% !important; }
        table.body td.small-offset-6,
        table.body th.small-offset-6 {
          margin-left: 50% !important;
          Margin-left: 50% !important; }
        table.body td.small-offset-7,
        table.body th.small-offset-7 {
          margin-left: 58.33333% !important;
          Margin-left: 58.33333% !important; }
        table.body td.small-offset-8,
        table.body th.small-offset-8 {
          margin-left: 66.66667% !important;
          Margin-left: 66.66667% !important; }
        table.body td.small-offset-9,
        table.body th.small-offset-9 {
          margin-left: 75% !important;
          Margin-left: 75% !important; }
        table.body td.small-offset-10,
        table.body th.small-offset-10 {
          margin-left: 83.33333% !important;
          Margin-left: 83.33333% !important; }
        table.body td.small-offset-11,
        table.body th.small-offset-11 {
          margin-left: 91.66667% !important;
          Margin-left: 91.66667% !important; }
        table.body table.columns td.expander,
        table.body table.columns th.expander {
          display: none !important; }
        table.body .right-text-pad,
        table.body .text-pad-right {
          padding-left: 10px !important; }
        table.body .left-text-pad,
        table.body .text-pad-left {
          padding-right: 10px !important; }
        table.menu {
          width: 100% !important; }
          table.menu td,
          table.menu th {
            width: auto !important;
            display: inline-block !important; }
          table.menu.vertical td,
          table.menu.vertical th, table.menu.small-vertical td,
          table.menu.small-vertical th {
            display: block !important; }
        table.menu[align="center"] {
          width: auto !important; }
        table.button.expand {
          width: 100% !important; } }

      @media only screen and (max-width: 596px) {
        .day-box {
          padding-top: 2vw !important;
          width: 14vw !important;
          height: 14vw !important;
        }
        .icon {
          margin-right: 0.5vw;
          width: 8px !important;
        }
        .icon-container {
          height: 25%;
        }
        .exp-day-label {
          margin-top: 0% !important;
          font-size: 15px;
        }
        .exp-calendar-content {
          min-width: 320px;
          height: 14vw;
        }
      }

      @media only screen and (min-width: 596px) {
        .exp-calendar-content {
          margin-left: auto;
          margin-right: auto;
          width: 78 * 7 + 8;
          height: 78;
        }
        .icon-container {
          height: 35px;
        }
      }

      @media only screen and (max-width: 596px) {
        .calendar-content {
          padding: 0px !important;
          width: 288px !important;
        }

        .not-available-day, .calendar-today, .available-day {
          height: 40px !important;
          width: 40px !important;
        }

        .day-label {
          margin-left: 10% !important;
          margin-top: 0% !important;
          font-size: 15px;
        }
      }

      .gmailfix {
        display: none;
        display: none !important;
      }
    </style>

  
<table class="body" style="border-spacing:0;border-collapse:collapse;vertical-align:top;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;background:#f3f3f3;height:100%;width:100%;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;margin-bottom:0px !important;background-color: white">
	<tbody><tr style="padding:0;vertical-align:top;text-align:left">
		<td class="center" align="center" valign="top" style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">
			<center style="width:100%;min-width:580px">
            <!--[if mso]>
              <table class="container" width="580">
            <![endif]-->
            <!--[if !mso]> <!-- -->
				<table class="container" style="border-spacing:0;border-collapse:collapse;padding:0;vertical-align:top;background:#fefefe;width:580px;margin:0 auto;text-align:inherit;max-width:580px;">
            <!-- <![endif]-->
	<tbody>
		<tr style="padding:0;vertical-align:top;text-align:left">
		<td style="word-wrap:break-word;-webkit-hyphens:auto;-moz-hyphens:auto;hyphens:auto;vertical-align:top;color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;border-collapse:collapse !important">

	<!-- <![Logo]-->
	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
		<tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
			<th class="columns first large-12 last small-12" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:40px;width:564px;padding-left:16px;padding-right:16px">
				<a href="#" style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;line-height:1.4;color:#2199e8;text-decoration:none" target="_blank">
				<img align="center" alt="Saku" class="center standard-header" height="30" src="https://glcdn.githack.com/sakuapp/email-template/raw/master/assets/img/logo_newsletter.png" style="outline:none;text-decoration:none;-ms-interpolation-mode:bicubic;width:auto;clear:both;display:block;border:none;padding-bottom:10px;padding-top:50px;max-height:28px"></a>
			</th>
			</tr>
		</tbody>
	</table>
	</div>
	
	<!-- <![Body]-->
	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;text-align:left;vertical-align:top;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
		<th class="columns first large-12 last small-12" style="font-size:16px;padding:0;text-align:left;color:#0a0a0a;font-family:'Circular', Helvetica, Arial, sans-serif;font-weight:normal;line-height:1.4;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
		  <p class="body  body-lg  body-link-rausch light text-left   " style="padding:0;margin:0;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:15px !important;">
			Hi <b>Smiles Davis</b>,
		  </p>
		  <p class="body heavy body-lg" style="padding:0;margin:0;text-align:left;font-weight:300;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:#484848;font-size:18px;line-height:1.4;word-break:normal;padding-bottom:14px !important;margin-bottom:0px !important">
			Thank you for signing up with us. Before you can start your wallet, you need to confirm your email address. To get started, just confirm your email address by clicking the button below.
		  </p>
		</th>
	  </tr>
	</tbody></table>
	</div>

	<!-- <![Botton]-->

	<div style="padding-bottom:30px">
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr style="padding:0;vertical-align:top;text-align:left">
		<th class="col-pad-left-2 col-pad-right-2" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;margin:0;text-align:left;font-size:16px;line-height:19px;padding-left:16px;padding-right:16px">
		  <a href="#" class="btn-primary btn-lg btn-rausch" style="font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;margin:0;text-align:left;line-height:1.3;color:#2199e8;text-decoration:none;background: #8E2DE2;  /* fallback for old browsers */
	background: -webkit-linear-gradient(to right, #4A00E0, #8E2DE2);  /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to right, #4A00E0, #8E2DE2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	;-webkit-border-radius:4px;border-radius:4px;padding:19px 24px 19px 24px;display:block;" target="_blank">
			<p class="text-center" style="font-weight:normal;padding:0;margin:0;text-align:center;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:white;font-size:24px;line-height:32px;margin-bottom:0px !important;">
			  Verify Email Address
			</p>
		  </a>
		</th>
	  </tr>
	</tbody></table>
	</div>
	<!-- <![END Botton]-->

	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
		<th class="columns first large-12 last small-12" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
		  <p class="body  body-lg  body-link-rausch light text-left" style="padding:0;margin:0;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:30px !important;">
			We hope this information is useful for you.
		  </p>
	  </tr>
	</tbody></table>
	</div>

	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
		<th class="columns first large-12 last small-12" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
		<p class="body  body-lg  body-link-rausch light text-left   " style="padding:0;margin:0;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;font-weight:300;color:#484848;hyphens:none;-moz-hyphens:none;-webkit-hyphens:none;-ms-hyphens:none;font-size:18px;line-height:1.4;text-align:left;margin-bottom:0px !important;">
	Regards,</p>
		<p class="body-text-lg heavy row-pad-bot-1" style="padding:0;margin:0;text-align:left;font-weight:700;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:#484848;font-size:24px;line-height:1.2;word-break:normal;padding-bottom:8px !important;margin-bottom:0px !important">
		 Saku team</p>
		</th>
	  </tr>
	</tbody></table>
	</div>

	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
		<th class="columns first large-12 last small-12" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:left;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
		  <hr class="full-divider" style="max-width:580px;border-right:0;border-top:0;border-bottom:1px solid #cacaca;border-left:0;margin:20px auto;clear:both;background-color:#dbdbdb;height:1px;border:none;width:100%;margin-top:0;margin-bottom:0">
		</th>
	  </tr>
	</tbody></table>
	</div>

	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
		<th class="columns first large-12 last small-12 standard-footer-padding" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:center;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
		  <div class="">
			<div class="row-pad-bot-4" style="padding-bottom:10px">
			</div>
			<p class="standard-footer-text center " style="padding:0;margin:0;text-align:center;margin-bottom:10px;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:#484848;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4">
			Please do not reply to this email. We are unable to respond to inquiries sent to this address. If you have any questions, check out our <a href="#" target="_blank" style="color:#8E2DE2; text-decoration:none !important;">Help Centre</a> or get in touch with our Support Team.
			</p>
			<p class="standard-footer-text " style="padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4">
			</p>
		  </div>
		</th>
	  </tr>
	</tbody></table>
	</div>

	<div>
	<tr>
	<td align="center" valign="top" style="auto;padding-bottom:20px;padding-top:0px">
		<table class="row" width="400" style="border:none;width:200px;margin:0 auto;" cellspacing="0" cellpadding="0" border="0">
			<tbody>
				<tr>
					<td height="70" style="height:26px;" align="left"><a href="https://twitter.com/sakuwallet" target="_blank"><img src="https://glcdn.githack.com/sakuapp/email-template/raw/master/assets/img/twitter.png" alt="Twitter" width="30" height="26" style="font-family:GT Walsheim,Poppins,Helvetica,Arial,sans-serif;font-style:normal;text-align:center;font-size:12px;border:0px solid;display:block;width:30px;height:26px;"></a></td>
					<td height="70" style="height:26px;" align="left"><a href="https://www.youtube.com/channel/UCz3H-6fGk_G65IJUXM030mQ" target="_blank"><img src="https://glcdn.githack.com/sakuapp/email-template/raw/master/assets/img/youtube.png" alt="YouTube" width="30" height="26" style="font-family:GT Walsheim,Poppins,Helvetica,Arial,sans-serif;font-style:normal;text-align:center;font-size:12px;border:0px solid;display:block;width:30px;height:26px;"></a></td>
					<td height="70" style="height:26px;" align="left"><a href="https://www.instagram.com/sakuwallet/" target="_blank"><img src="https://glcdn.githack.com/sakuapp/email-template/raw/master/assets/img/instagram.png" alt="Instagram" width="30" height="26" style="font-family:GT Walsheim,Poppins,Helvetica,Arial,sans-serif;font-style:normal;text-align:center;font-size:12px;border:0px solid;display:block;width:30px;height:26px;"></a></td>
				</tr>
			</tbody>
		</table>
	</td>
	</tr>
	</div>
	
	<div>
	<table class="row" style="border-spacing:0;border-collapse:collapse;vertical-align:top;text-align:left;padding:0;width:100%;position:relative;display:table">
	  <tbody><tr class="" style="padding:0;vertical-align:top;text-align:left">
		<th class="columns first large-12 last small-12 standard-footer-padding" style="color:#0a0a0a;font-family:'Cereal', Helvetica, Arial, sans-serif;font-weight:normal;padding:0;text-align:center;font-size:16px;line-height:19px;margin:0 auto;padding-bottom:16px;width:564px;padding-left:16px;padding-right:16px">
		  <div class="">
			<div class="row-pad-bot-4" style="padding-bottom:10px">
			</div>
			<p class="standard-footer-text center " style="padding:0;margin:0;text-align:center;margin-bottom:10px;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:#484848;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4">
			Made for <font color="#ff5a5f"> ♥ </font>from Saku
			</p>
			<p class="standard-footer-text " style="padding:0;margin:0;text-align:left;margin-bottom:10px;font-family:&quot;Cereal&quot;, &quot;Helvetica&quot;, Helvetica, Arial, sans-serif;color:#9ca299;font-size:14px;text-shadow:0 1px #fff;font-weight:300;line-height:1.4">
			</p>
		  </div>
		</th>
	  </tr>
	</tbody></table>
	</div>
	
	</td>
              </tr>
            </tbody></table>
          </center>
        </td>
      </tr>
    </tbody></table>
	<!-- Gmail on iOS will automatically increase font-size for readability -->
	<div class="gmailfix" style="white-space:nowrap; font:15px courier; line-height:0; color:white;">
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
		&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
	</div>
</body>